<!DOCTYPE html>
<html>

<head>
<meta charset="ISO-8859-1">
<title>Comparo</title>
<script src="../js/shared/jquery.js"></script>
<script src="../js/shared/jquery-1.11.3.min.js"></script>
<script src="../js/shared/bootstrap.js"></script>
<script src="../js/shared/angular.js"></script>
<script src="../js/shared/angular-route.js"></script>
<script src="../js/shared/angular-cookies.js"></script>
<script src="../js/user/Application.js"></script>
<script src="../js/user/Controller.js"></script>
<script src="../js/user/ViewRelatedController.js"></script>

<link rel="stylesheet" href="../css/bootstrap.css">

</head>

<body ng-app="Application" background="../img/OnePlus-6.jpg"
	style="background-size: cover" ng-controller="ViewController" ng-init="getAllMobiles()" >

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbarCollapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand" style="color: white">Comparo-Arena</a>
				
			</div>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="nav navbar-nav">
					<li><a href="Homepage.html" target="_self">Homepage</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					
					<li><a ng-click="logout()" class="logout-text">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="row">
		<form>

			<div class="col-md-3"
				style="color: black; margin-left: 50px; height: 500px; background-color: rgba(255, 255, 255, 0.9); border-radius: 25px;">

				<h3 id="text_color" style="color: black; font-family: monospace;"
					align="center">
					<b>Our Products</b>
				</h3>
				<hr>

				<br>
				<br> <label style="color: black; font-family: monospace;">Make
					a Selection</label> 
					<select class="form-control" ng-model="vieww"  onmousedown="{this.size=14;}"  onchange='this.size=0;' onblur="this.size=0;"
					id="check" style="background-color: rgba(255, 255, 255, 0.4);"
					required="required">
					<option value="">-</option>
					<option ng-repeat="phone in allMobilesList"
						ng-value={{phone.sellingPrice}}>{{phone.name+"-"+phone.brand+"-"+phone.sellingPrice}}</option>

				</select> <br>
				<br>
				<br>
				<br>
				<div align="center" >
					<input type="button" class="btn btn-primary"
						value="View Related Mobiles" ng-click="costFilter(vieww)">
				</div>
			</div>


			<div class="col-md-8"
				style="color: black; background-color: rgba(255, 255, 255, 0.9); margin-left: 40px; margin-top: 5px; height: 550px; border-radius: 10px; overflow-y: scroll"
				id="style-10">
				<br>
				<label style="color: black; font-family: monospace;">This is
					what we found....</label>
				<div class="grid-container">

					<label style="color: black; font-family: monospace;" ng-repeat="phone in priceFilterList ">

						<div class="grid-item">

							<img src="../img/phone.jpg" /><br> {{"Mobile Name:
							"+phone.name}}<br> {{"Mobile Brand: "+phone.brand}}<br>
							{{"Quantity: "+phone.quantity}}<br> {{"Price:
							"+phone.sellingPrice}}<br> {{"ProductId: "+phone.productId}}<br>

						</div>
					</label>

				</div>

			</div>

		</form>
	</div>
</body>
</html>
